*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: 'Work Sans', sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  color: #04092E;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

  body.pad { 
    padding-top: 60px;
  }

.fill-background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

  .inverse{
    background: black;
    color: white;
  }
  .inverse > * {
    color: white;
  }

div.dark {
  color: #EEE;
  background: #222;
}


.header {
  padding: 6rem 2rem;
  flex-direction: column;
  justify-content: center;
  color: white;
  background: #04092E;

  @media screen and (min-width: 960px) {
    display: flex;
    min-height: 100vh;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  h1, h2 {
    margin-bottom: 4rem;
    max-width: 100%;
    line-height: 1.1em;
    text-transform: uppercase;
  }

  h1 {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    font-family: 'Bungee Inline', cursive;
    font-size: 6rem;
    font-weight: normal;
    width: 1350px;
    color: #555;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 960px) {
      font-size: 10rem;
    }
  }
}

section {
  padding: 4rem;

  header {
    margin-bottom: 4rem;
  }

  a {
    color: darken(#FFC9E2, 20%);

    &:hover {
      color: darken(#FFC9E2, 30%);
    }
  }
}

form {
  text-align: left;
  font-size: 1.8rem;

  .field {
    margin-bottom: 2rem;
  }

  label {
    display: block;
    font-weight: 800;
    margin-bottom: 0.5rem;
  }

  input,
  textarea {
    font-family: inherit;
    font-size: inherit;
  }

  input:not([type=submit]),
  textarea {
    width: 100%;
    padding: 1rem;
    color: #04092E;
    border: 1px solid #04092E;
    outline: 0;
  }

  textarea {
    height: 12rem;
  }
}

footer {
  padding: 2rem;

  img {
    max-width: 10rem;
  }
}
